*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Helvetica;
    color-scheme: dark;
}

:root{
    font-size: 16px;
}

h1{
    font-size: 1rem;
}

a{
    text-decoration:inherit;
    font-weight:500;
    font-size:1.2rem;
    color:white;
}

li{
    list-style:none;
}

html{
    font-size:62.5%;
}

.center-page {
    text-align:left;
    margin-left:5%;
    max-width:80vw;
}

.grid {
    display:block;
    margin:auto;
    max-width:75%;
}

.grid-two-cols{
    display:flex;
    height: 100%;
    gap:50px;
    flex-direction:row;
    align-items: center;
}

.question-box, .services-box{
    max-width:90vw;
    padding:0.5rem;
    border:solid 1px;
    margin:1rem;
    margin-left: 10%;
    
}

.image-container{
    margin-top: 1rem;
}

.login-form, .registration-form, .contact-form, .question-form{
    width: 40vw;
    align-items: center;
    
}

.question-form{
    margin-bottom: 0%;
}

input[type=text], input[type=email], input[type=password], input[type=number], input[type=date]{
    border-radius: 5px;
    width: 22rem;
    height: 2rem;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus, input[type=date]:focus{
    border: 3px solid #fff;
}

.btn{
    width: 22rem;
    height: 2.5rem;
    border-radius: 15px;
}

.footer{
    position: relative;
    left: 25%;
    bottom: 0;
    width: 50%;
    justify-content: center;
    text-align: center;
}

.top-btn{
    font-size: 2rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: blue;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--icon{
        animation: GoToTop 1.2s linear infinite alternate-reverse;
    }

    @keyframes GoToTop {
        0%{
            transform: translateY(-0.5rem);
        }
        100%{
            transform: translateY(1rem);
        }
    }
}




@media screen and (max-width: 798px) {
    :root{
        font-size: 14px;
    }
    .logo-brand{
        position: absolute;
        margin-top: -5%;
        margin-left: 0;
    }
    .top-btn
    {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        bottom: 5rem;
        right: 2rem;
        z-index: 999;
    }
    &--icon{
        animation: GoToTop 1.2s linear infinite alternate-reverse;
        height: 1rem;
    }
}